<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Video Management Server</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{{ url_for('static', filename = 'css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<style>
    #loader {
        border: 12px solid #f3f3f3;

        border-radius: 50%;
        border-top: 12px solid blue;
        width: 70px;
        height: 70px;
        animation: spin 2s linear infinite;

    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);

        }
    }

    .c1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    
    .dropdown {
    display: inline-block;
    position: relative
    }
    .dropdown-content {
    position: absolute;
    background-color: #dee2e6;
    min-width: 100%;
    display: none;
    z-index: 1;
    }
    .dropdown-content select option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    .dropdown-content select option:hover {
    background-color: lightgrey;
    }
    .dropdown:hover .dropdown-content {
    display: block;
    }
    .dropdown:hover .dropbtn {
    background-color:lightblue;
    }
</style>

<body>
    <div id="loader" class="c1"></div>
    <script>
        document.onreadystatechange = function () {
            if (document.readyState !== "complete") {
                document.querySelector(
                    "body").style.visibility = "hidden";
                document.querySelector(
                    "#loader").style.visibility = "visible";
            } else {
                document.querySelector(
                    "#loader").style.display = "none";
                document.querySelector(
                    "body").style.visibility = "visible";
            }
        };
    </script>

    <div class="app-container app-theme-white body-tabs-shadow fixed-header">
        <div class="app-header header-shadow">
            <div class="app-header__menu">

            </div>
            <div>
                &nbsp;&nbsp;
                <div style="margin-bottom: 12%;">
                    <img width="200px" height="50px"
                        src="{{ url_for('static', filename='images/avatars/arm.png') }}"></img>
                </div>

            </div>
            <div class="app-header__content">

                <div class="app-header-left">

                    <link rel="stylesheet"
                        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

                    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style2.css')}}">
                    <link rel="stylesheet"
                        href="{{ url_for('static', filename = 'css/bootstrap-datetimepicker.min.css')}}">

                    <section>

                        <form action="{{ url_for('selected_videos') }}" method="post" class="datepickers">

                            <div class="row">



                                <div class="col-md-4 text-center" style="margin-left: -2%;">

                                    <div class="form-group">

                                        <div class="input-group date" id="id_0" style="margin-top: 12%;">
                                            <input type="text" name="start" class="form-control"
                                                placeholder="Start Date & Time" id="start_id" />

                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-4 text-center" style="margin-left: -2%;">

                                    <div class="form-group">

                                        <div class="input-group date" id="id_1" style="margin-top: 12%;">
                                            <input type="text" name="end" class="form-control"
                                                placeholder="End Date & Time" id="end_id" />

                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-2 text-center" style="margin-left: -1%;">

                                    <div class="form-group">

                                        <div class="button-group date" id=""
                                            style="margin-top: 27%; margin-right: 20%;">
                                            <button type="submit" class="btn btn-primary" name="search_selected_videos"
                                                value="search_selected_videos"
                                                onclick="return ValidateTextBox()">Search</button>
                                            <script type="text/javascript">
                                                function ValidateTextBox() {
                                                    if (document.getElementById("start_id").value.trim() == "") {
                                                        alert("Please enter start date and time");
                                                        return false;
                                                    }
                                                    if (document.getElementById("end_id").value.trim() == "") {
                                                        alert("Please enter end date and time");
                                                        return false;
                                                    }
                                                    var sdt = document.getElementById("start_id").value;
                                                    var edt = document.getElementById("end_id").value;

                                                    start_date = sdt.split(" ")[0];
                                                    s_y = start_date.split("-")[0];
                                                    s_m = start_date.split("-")[1];
                                                    s_d = start_date.split("-")[2];

                                                    start_time = sdt.split(" ")[1];
                                                    s_h = start_time.split(":")[0];
                                                    s_min = start_time.split(":")[1];
                                                    s_s = start_time.split(":")[2];

                                                    end_date = edt.split(" ")[0];
                                                    e_y = end_date.split("-")[0];
                                                    e_m = end_date.split("-")[1];
                                                    e_d = end_date.split("-")[2];

                                                    end_time = edt.split(" ")[1];
                                                    e_h = end_time.split(":")[0];
                                                    e_min = end_time.split(":")[1];
                                                    e_s = end_time.split(":")[2];

                                                    if (s_y > e_y) {
                                                        alert("Start year is greater than End year")
                                                        return false;
                                                    }
                                                    if (s_y == e_y) {
                                                        if (s_m > e_m) {
                                                            alert("Start month is greater then End month")
                                                            return false;
                                                        }
                                                        if (s_m == e_m) {
                                                            if (s_d > e_d) {
                                                                alert("Start day is greater then End day")
                                                                return false;
                                                            }
                                                            if (s_d == e_d) {
                                                                if (s_h > e_h) {
                                                                    alert("Start hour is greater then End hour")
                                                                    return false;
                                                                }
                                                                if (s_h == e_h) {
                                                                    if (s_min > e_min) {
                                                                        alert("Start minutes is greater then End minutes")
                                                                        return false;
                                                                    }
                                                                    if (s_min == e_min) {
                                                                        if (s_s > e_s) {
                                                                            alert("Start seconds is greater then End seconds")
                                                                            return false;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }



                                                };
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 text-center" style="margin-left: -1%;">
                                    <div class="form-group">

                                        <div class="button-group date" id="" style="margin-top: 27%;margin-left: -30%;">

                                            <button type="button"
                                                onclick="document.getElementById('del1').style.display='block'"
                                                class="btn btn-danger">Delete
                                                videos</button>
                                        </div>

                                        <div id="del1" class="w3-modal">
                                            <div class="w3-modal-content" style="width: 30%;">
                                                <div class="w3-container">
                                                    <span onclick="document.getElementById('del1').style.display='none'"
                                                        class="w3-button w3-display-topright">&times;</span>

                                                    <p style="margin-top: 2%;">Are you sure do you want to delete?</p>

                                                    <button type="submit" class="btn btn-danger"
                                                        name="delete_selected_videos" value="delete_selected_videos"
                                                        data-toggle="modal" data-target="#exampleModal"
                                                        style="margin-bottom: 5%;"
                                                        onclick="return ValidateTextBox()">Delete
                                                        videos</button>


                                                </div>
                                            </div>
                                        </div>
                                    </div>







                                </div>

                            </div>
                </div>
                <script>
                    function vid_cnt() {
                        if ('{{len_list}}' <= 25) {
                            alert("There are less than 25 videos. Cannot delete videos")
                            return false;
                        }
                    };
                </script>

                </form>

                <div class="form-group" style="margin-top: 2%; margin-left: -2%;">

                    <div class="button-group date" id="" >

                        <button onclick="document.getElementById('prev1').style.display='block'"
                            class="btn btn-danger">Delete previous videos</button>
                    </div>

                    <div id="prev1" class="w3-modal">
                        <div class="w3-modal-content" style="text-align: center;width: 30%;">
                            <div class="w3-container">
                                <span onclick="document.getElementById('prev1').style.display='none'"
                                    class="w3-button w3-display-topright">&times;</span>
                                <p style="margin-top:2%;">Are you sure do you want to delete?</p>
                                <p>(Note: It will keep recent 25 videos on Apsara VOD and delete all remaining videos)
                                </p>
                                <form action="{{ url_for('delete_previous_videos') }}" method="post">



                                    <button type="submit" class="btn btn-danger" name="delete_prev_videos"
                                        value="delete_prev_videos" data-toggle="modal" data-target="#exampleModal"
                                        style="margin-bottom: 5%;" onclick="return vid_cnt()">Delete</button>



                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </form>

            </form>

            </form>

            <div class="form-group" style="margin-top: 2%; margin-left: 2%;">

                <div class="button-group date">

                    <button onclick="document.getElementById('time_sch').style.display='block'"
                        class="btn btn-primary">Time Schedule</button>
                </div>

                <div id="time_sch" class="w3-modal">
                    <div class="w3-modal-content" style="text-align: center;width: 30%;">
                        
                        <div class="w3-container">
                            <span onclick="document.getElementById('time_sch').style.display='none'"
                                class="w3-button w3-display-topright">&times;</span>
                            <p style="margin-top:2%;">Enter start and end date and time for recording live streaming</p>
                        
                            <form action="{{ url_for('time_schedule_btn') }}" method="post" class="datepickers">
                                
                                <div class="row">



                                    <div class="col-md-12 text-center">
    
                                        <div class="form-group">
                                            <h5>Start Date & Time</h5>
                                            <div class="input-group date" id="id_3" style="margin-top: 12%;">
                                                
                                                <input type="datetime-local" name="record_start" class="form-control"
                                                    placeholder="Start Date & Time" id="start_id1" />
                                                     
                                            </div>
    
                                        </div>
                                    </div>
    
                                    <div class="col-md-12 text-center">
                                        
                                        <div class="form-group">
                                            <h5>End Date & Time</h5>
                                            <div class="input-group date" id="id_4" style="margin-top: 12%;">
                                               
                                                <input type="datetime-local" name="record_end" class="form-control"
                                                    placeholder="End Date & Time" id="end_id1" />
    
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        
                                        <div class="form-group">
                                            
                                                <button type="submit" class="btn btn-danger" name="time_schedule_btn_val"
                                                value="time_schedule_btn_val" data-toggle="modal" data-target="#exampleModal"
                                                style="margin-bottom: 3%;" onclick="return DateTime_ValidateTextBox()">Record</button>

                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    function DateTime_ValidateTextBox() {
                                        if (document.getElementById("start_id1").value.trim() == "") {
                                            alert("Please enter start date and time");
                                            return false;
                                        }
                                        if (document.getElementById("end_id1").value.trim() == "") {
                                            alert("Please enter end date and time");
                                            return false;
                                        }
                                        var sdt = document.getElementById("start_id1").value;
                                        var edt = document.getElementById("end_id1").value;

                                        start_date = sdt.split("T")[0];
                                        s_y = start_date.split("-")[0];
                                        s_m = start_date.split("-")[1];
                                        s_d = start_date.split("-")[2];

                                        start_time = sdt.split("T")[1];
                                        s_h = start_time.split(":")[0];
                                        s_min = start_time.split(":")[1];
                                        

                                        end_date = edt.split("T")[0];
                                        e_y = end_date.split("-")[0];
                                        e_m = end_date.split("-")[1];
                                        e_d = end_date.split("-")[2];

                                        end_time = edt.split("T")[1];
                                        e_h = end_time.split(":")[0];
                                        e_min = end_time.split(":")[1];
                                    

                                        if (s_y > e_y) {
                                            alert("Start year is greater than End year")
                                            return false;
                                        }
                                        if (s_y == e_y) {
                                            if (s_m > e_m) {
                                                alert("Start month is greater then End month")
                                                return false;
                                            }
                                            if (s_m == e_m) {
                                                if (s_d > e_d) {
                                                    alert("Start day is greater then End day")
                                                    return false;
                                                }
                                                if (s_d == e_d) {
                                                    if (s_h > e_h) {
                                                        alert("Start hour is greater then End hour")
                                                        return false;
                                                    }
                                                    if (s_h == e_h) {
                                                        if (s_min > e_min) {
                                                            alert("Start minutes is greater then End minutes")
                                                            return false;
                                                        if (s_min == e_min) {
                                                                       
                                                                            alert("Start minutes is equal to End minutes")
                                                                            return false;
                                                                       
                                                                    }

                                                        }
                                                        
                                                    }
                                                }
                                            }
                                        }
                                        return t_fun();
                                    };
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            
                <div class="form-group" style="margin-top: 2%; margin-left: 2%;"> 
                <div class="button-group date" id="" >
                <div class="dropdown" >
                <button class="btn btn-primary" disabled>Object scheduling</button>
                <div class="dropdown-content">
                <form action="{{ url_for('object_schedule_btn') }}" method="post"> 
                    

                        <select class="form-control" id="sel_option" name="sel_option" method="POST">
                            {% for object in object1 %}
                            <option value= "{{object}}" SELECTED>{{object}}</option>"
                            {% endfor %}
                        </select>

                        <button type="submit" class="text-center btn btn-primary"  style="margin-top:2%; margin-bottom:2%; margin-left:25%;"name="selected_obj" value="selected_obj" onclick="return o_fun()">Record</button>
                        <script>
                            var time_status = '{{ time_schedule_btn_status }}';
                            var obj_status = '{{ object_schedule_btn_status }}';
                            function t_fun(){
                                if (window.time_status == 0 && window.obj_status == 0)
                                {
                                    window.time_status = 1
                                    alert("Time scheduling will start")
                                    
                                    return true;
                                }
                                else{
                                    if (window.time_status == 0 && window.obj_status== 1)
                                    {
                                        
                                        alert("Object scheduling is ON you can't use time scheduling")
                                        return false;      
                                    }
                                    else{
                                        if (window.time_status == 1 && window.obj_status == 0)
                                        {
                                            alert("Time scheduling already ON")
                                            return false;
                                        } 
                                        else{
                                            alert("Time ........ ON")
                                            return false;
                                        }                                         
                                    }
                                }
                            };
                            function o_fun(){
                                if (window.time_status == 0 && window.obj_status == 0)
                                {
                                    alert("Object scheduling will start")
                                    window.obj_status = 1
                                    return true;
                                }
                                else{
                                    if (window.time_status == 1 && window.obj_status== 0)
                                    {
                                        
                                        alert("Time scheduling is ON you can't use object scheduling")
                                        return false;
                                    }
                                    else{
                                        if (window.time_status == 0 && window.obj_status== 1){

                                            alert("Object scheduling already ON")
                                            return false;
                                        }
                                        else{
                                            alert("Object ........ ON")
                                            return false;
                                        }
                                    }
                                }
                                
                            };
                        </script>
                </form>
                </div>
                </div>
                
                </div>
                </div>
                
            <script src="{{ url_for('static', filename='scripts/jquery.min2.js') }}"></script>
            <script src="{{ url_for('static', filename='scripts/popper2.js') }}"></script>
            <script src="{{ url_for('static', filename='scripts/bootstrap.min2.js') }}"></script>
            <script src="{{ url_for('static', filename='scripts/moment-with-locales.min.js') }}"></script>
            <script src="{{ url_for('static', filename='scripts/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ url_for('static', filename='scripts/main2.js') }}"></script>
        </div>
    </div>
    </div>
    <div class="app-main">
        <div class="app-main__outer">
            <div class="app-main__inner">

                <div class="row">
                    {% for message in get_flashed_messages() %}

                    <div class="alert alert-warning alert-dismissible fade show col-md-12" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}


                    <div class="col-md-12 col-lg-12">
                        <div class="">

                            <div class="col-md-12">
                                <div class="main-card mb-3 card">
                                    <div class="card-header">Total Videos on cloud

                                    </div>
                                    <div class="table-responsive">
                                        <table
                                            class="align-middle mb-0 table table-borderless table-striped table-hover">
                                            <thead>
                                                <tr>

                                                    {% for header in headings %}
                                                    <th class="text-center">{{ header }}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for row in range(0,len_list) %}
                                                <tr>
                                                    <td class="text-center">

                                                        <div>


                                                            <button type="button" id="PopoverCustomT-1"
                                                                class="btn btn-sm" data-toggle="modal"
                                                                data-target=".bd-example-modal-lg"
                                                                onclick="document.getElementById('{{data[row][2]}}').style.display='block'"
                                                                class="w3-button w3-black" style="margin-top: 6%;">

                                                                <video width="120" height="60">

                                                                    <source src="{{ data[row][2] }}" type="video/mp4">

                                                                </video> <i class="fa fa-play-circle"
                                                                    style="color:whitesmoke; font-size:36px;position: absolute;top: 25%;left:35%;"></i></button>

                                                        </div>

                                                        <ol id="olFrames"></ol>
                                                        <div class="row" height="5%">
                                                            <div id="{{data[row][2]}}" class="w3-modal">
                                                                <div class="w3-modal-content">
                                                                    <div class="w3-container">
                                                                        <span
                                                                            onclick="document.getElementById('{{data[row][2]}}').style.display='none'"
                                                                            class="w3-button w3-display-topright">&times;</span>
                                                                        <video width="92%" height="92%" controls
                                                                            style="margin-top: 5%;margin-bottom: 5%;">

                                                                            <source src="{{ data[row][2] }}"
                                                                                type="video/mp4">

                                                                        </video>
                                                                        <div style="margin-bottom:2%;">
                                                                            <div class="row">
                                                                                <div class="col-md-6">Title: {{
                                                                                    data[row][1] }}</div>
                                                                                <div class="col-md-6">Date and Time:
                                                                                    {{ data[row][0] }}</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>


                                                    </td>

                                                    <td>
                                                        <div class="widget-content p-0" style="margin-top: 22%;">


                                                            <div class="widget-content-left flex2 text-center">
                                                                <div class="widget-heading">{{ data[row][1] }}</div>
                                                            </div>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-content p-0" style="margin-top:9%;">


                                                            <div class="widget-content-left flex2 text-center">
                                                                <div class="widget-heading">{{ data[row][0] }}</div>
                                                            </div>

                                                        </div>
                                                    </td>

                                                    <td class="text-center">

                                                        <div class="text-center" style="margin-top: 16%;">


                                                            <button
                                                                onclick="document.getElementById('{{data[row][3]}}').style.display='block'"
                                                                class="btn btn-danger btn-sm">Delete</button>

                                                            <div id="{{data[row][3]}}" class="w3-modal">
                                                                <div class="w3-modal-content" style="width: 30%;">
                                                                    <div class="w3-container">
                                                                        <span
                                                                            onclick="document.getElementById('{{data[row][3]}}').style.display='none'"
                                                                            class="w3-button w3-display-topright">&times;</span>
                                                                        <p style="margin-top: 2%;">Are you sure do you
                                                                            want to delete?</p>

                                                                        <form action="{{ url_for('delete_video') }}"
                                                                            method="post">
                                                                            <input type="hidden" name="del_video"
                                                                                value="{{ data[row][3] }}">
                                                                            <button type="submit" id="PopoverCustomT-1"
                                                                                class="btn btn-danger btn-sm"
                                                                                style="margin-bottom: 5%;">Delete</button>

                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                    </td>

                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
            </div>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>

</html>
</div>
<script type="text/JavaScript">
    function getVideoImage(path, secs, callback) {
      var me = this, video = document.createElement('video');
      video.onloadedmetadata = function() {
        if ('function' === typeof secs) {
          secs = secs(this.duration);
        }
        this.currentTime = Math.min(Math.max(0, (secs < 0 ? this.duration : 0) + secs), this.duration);
      };
      video.onseeked = function(e) {
        var canvas = document.createElement('canvas');
        canvas.height = video.videoHeight;
        canvas.width = video.videoWidth;
        var ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
        var img = new Image();
        img.src = canvas.toDataURL();
        callback.call(me, img, this.currentTime, e);
      };
      video.onerror = function(e) {
        callback.call(me, undefined, undefined, e);
      };
      video.src = path;
    }
    
    function showImageAt(secs) {
      var duration;
      getVideoImage(
        '/html/mov_bbb.mp4',
        function(totalTime) {
          duration = totalTime;
          return secs;
        },
        function(img, secs, event) {
          if (event.type == 'seeked') {
            var li = document.createElement('li');
            li.innerHTML += '<b>Frame at second ' + secs + ':</b><br />';
            li.appendChild(img);
            document.getElementById('olFrames').appendChild(li);
            if (duration >= ++secs) {
              showImageAt(secs);
            };
          }
        }
      );
    }
    showImageAt(0);


   
    </script>